@use "variables" as *;

#leaderboard {
  table {
    th {
      font-weight: bold;
    }

    td {
      font-family: $code-font-family;
      font-weight: $code-font-weight;
      font-size: 1.15em;
    }

    tbody th {
      width: 50%;
    }
  }

  #points-chart {
    aspect-ratio: 800 / 500;
    max-height: 600px;
    width: 100%;

    &:empty {
      display: none;
    }
  }
}
