@use "variables" as *;
@use "pico" as * with (
  $primary-hue: $primary-hue,
  $grey-hue: $primary-hue
);

:root,
:root:not([data-theme]) {
  @include root;
}

$highlight-glow: 0 0 0.2em var(--glow-color);
$highlight-glow-primary: 0 0 0.2em var(--glow-color-primary);

@mixin highlight-glow {
  text-shadow: #{$highlight-glow};
  color: var(--glow-text-color);
}

@mixin highlight-glow-primary {
  text-shadow: #{$highlight-glow-primary};
  color: var(--glow-text-color-primary);
}

@mixin light {
  --glow-color: #{$grey-300};
  --glow-text-color: #{$black};

  --glow-color-primary: #{$primary-200};
  --glow-text-color-primary: #{$primary-500};

  --card-background-color: #{rgba($white, $card-opacity-light)};
  --nav-background-color: #{rgba($primary-200, 0.75)};
  --article-card-color: #{$white};
  --bubbles-color: #{$grey-900};
}

@mixin dark {
  --glow-color: #{$grey-300};
  --glow-text-color: #{$white};

  --glow-color-primary: #{$primary-500};
  --glow-text-color-primary: #{$primary-300};

  --card-background-color: #{rgba(mix($black, $grey-900, 25%), $card-opacity-dark)};
  --nav-background-color: #{rgba($primary-900, 0.75)};
  --article-card-color: #{$grey-900};
  --bubble-color: #{$grey-300};
}

:root,
:root:not([data-theme]) {
  @include light;
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    @include dark;
  }
}

[data-theme="dark"] {
  @include dark;
}

body {
  line-height: var(--line-height);
}

pre,
kbd,
code {
  font-family: $code-font-family;
  font-weight: $code-font-weight;
  font-size: 0.95em;
}

pre > code {
  font-size: inherit;
}

code,
kbd {
  padding: 0.2em 0.5em;
}

h1,
h2,
h3 {
  font-weight: 800;
}

p.error {
  border: 1px solid $red-500;
  border-radius: var(--border-radius);
  padding: var(--spacing);
  background-color: rgba($red-500, 0.075);

  &:before {
    content: "⚠ Error!";
    color: $red-400;
    font-weight: bold;
    display: block;
  }

  &:empty {
    display: none;
  }
}

time.countdown {
  font-family: $code-font-family;
  font-size: 1em;
}

hr {
  margin: var(--block-spacing-vertical) 0;
}

article {
  backdrop-filter: blur(var(--card-blur));
  overflow: hidden;
}

article > header {
  box-shadow: 0 -12px 20px 0px rgba($grey-900, 0.5);
}

article > footer {
  box-shadow: 0 12px 20px 0px rgba($grey-900, 0.5);
}

article > header,
article > footer {
  background-color: var(--article-card-color);
}

pre {
  margin-bottom: var(--typography-spacing-vertical);
}
