@use "variables" as *;
@use "pico" as *;

@mixin root {
  --font-family: #{$font-family};
  --font-size: #{$font-size};
  --border-radius: #{$border-radius};
  --border-width: 2px;
  --line-height: #{$line-height};
  --code-color: var(--color);
  --grid-spacing-vertical: var(--spacing);
  --grid-spacing-horizontal: var(--spacing);
}

:root,
:root:not([data-theme]) {
  @include root;
}

body {
  line-height: var(--line-height);
}

pre,
kbd,
code {
  font-family: $code-font-family;
  font-weight: $code-font-weight;
  font-size: 0.95em;
}

pre > code {
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings-font-family;
  font-weight: 700;
}

p.error {
  border: 1px solid $red-500;
  border-radius: var(--border-radius);
  padding: var(--spacing);
  background-color: rgba($red-500, 0.075);

  &:before {
    content: "⚠ Error!";
    color: $red-400;
    font-weight: bold;
    display: block;
  }

  &:empty {
    display: none;
  }
}

time.countdown {
  font-family: $code-font-family;
  font-size: 1em;
}

hr {
  margin: var(--block-spacing-vertical) 0;
}
