@use "variables" as *;
@use "pico" as *;

#problems {
  ul,
  li {
    list-style: none;
    padding: 0;
  }

  li a {
    width: 100%;
    text-align: left;
  }

  .not-available {
    a {
      background-color: transparent;
      outline: 2px solid var(--primary);
      outline-offset: -2px;
      opacity: 0.75;
      cursor: not-allowed;
      transition: all 0.5s ease-in-out;
    }

    time {
      font-family: $code-font-family;
      font-weight: 700;
      margin-left: calc(var(--spacing) / 4);

      &:before {
        content: "[";
      }

      &:after {
        content: "]";
      }
    }
  }
}

#problem {
  strong {
    text-shadow: 0 0 0.2em #{$grey-300};
    font-weight: 400;
    color: #{$grey-100};

    &.primary {
      text-shadow: 0 0 0.2em #{$primary-500};
      color: #{$primary-300};
    }
  }

  a[href*="/input"] {
    width: 100%;
  }

  .copy-input {
    transition: all 0.25s ease-in-out;
  }

  .grid > * {
    margin-bottom: 0;
  }

  .answer-form {
    display: flex;
    gap: var(--spacing);

    button {
      flex: 0;
    }
  }
}
