{{ template "head" }}
{{ template "title" "Hackathon EntrySubmitted" }}

{{ template "header" . }}


<main class="container" id="hackathon-submitted">
  <article>
    <h1>Thank you for your submission!</h1>
    <p>
      Rest assured, we've received your submission and will have a look at it when the submission
      period ends!
    </p>
    <p>
      You may choose to resubmit your project if you wish to make changes to your submission until
      the submission period ends.
    </p>
    <div class="grid">
      <a role="button" href="/hackathon">Back to Hackathon</a>
    </div>
  </article>
</main>

{{ template "footer" . }}
