{{ template "head" }}
<title>March Madness</title>

{{ template "header" . }}


<main class="container" id="index">
  <article>
    <header>
      <hgroup>
        <h1>Welcome to the Madness!</h1>
        <p>
          Five days of events brought to you by
          <span data-tooltip="The largest Computer Science club at CSUF!" data-placement="bottom">
            acmCSUF
          </span>
        </p>
      </hgroup>
    </header>

    {{ if not .TeamName }}
      <section>
        <hgroup>
          <h2>Getting Started</h2>
          <p>Join or create a team!</p>
        </hgroup>
        <div class="grid">
          <a role="button" href="/join">Join or Create a Team</a>
          <a role="button" href="/leaderboard" class="secondary"> View Leaderboard </a>
        </div>
      </section>

      <hr />
    {{ end }}


    <section class="compete">
      <hgroup>
        <h2>Week of Code</h2>
        <p>Monday, February 19th until 23rd</p>
      </hgroup>
      <p>
        A week of coding challenges designed and curated by ACM to promote good problem-solving
        skills.
      </p>
      <p>
        A new problem opens everyday at midnight (PST). Solve problems online or in-person with your
        team!
      </p>

      <div class="grid">
        <a role="button" href="/problems" class="secondary">Compete</a>
      </div>
    </section>

    <hr />

    <section>
      <hgroup>
        <h2>Mini Hackathon</h2>
        <p>Monday, February 23rd at ??? in CS ???</p>
      </hgroup>

      <p>
        <b>Think</b>, <b>create</b> and <b>present</b> at this mini-hackathon geared towards
        beginners.
      </p>

      <div class="grid">
        <a role="button" href="/hackathon" class="secondary">Learn More</a>
      </div>
    </section>

    {{ if .TeamName }}
      <hr />

      <section>
        <hgroup>
          <h2>Team</h2>
          <p>You are on team <mark>{{ .TeamName }}</mark>.</p>
        </hgroup>
        <p>
          Hover over
          <span id="invite-code" data-tooltip="{{ .InviteCode }}">me</span> to display your invite
          code! Click it to copy the code!
        </p>
        <p>
          Others can join your team by entering your invite code in the "team code" field on the
          Join page!
        </p>
        <script>
          let copying = false;
          const code = document.getElementById("invite-code");
          code.style.cursor = "pointer";
          code.addEventListener("click", function () {
            if (copying) return;
            navigator.clipboard.writeText(this.dataset.tooltip);
            const s = this.dataset.tooltip;
            copying = true;
            this.dataset.tooltip = "Copied!";
            setTimeout(() => {
              this.dataset.tooltip = s;
              copying = false;
            }, 2000);
          });
        </script>
        <p>
          Want to join a different team or create a new one?
          <a href="/join">Re-visit the Join page.</a>
        </p>
        <div class="grid">
          <a role="button" href="/leaderboard" class="secondary"> View Leaderboard </a>
        </div>
      </section>
    {{ end }}
  </article>
</main>

{{ template "footer" . }}
