{{ template "head" }}

{{ template "header" . }}


<main class="container" id="join">
  <article>
    <hgroup>
      <h2>Team Creation</h2>
      <p>Create or join a team!</p>
    </hgroup>

    {{ if .TeamName }}
      <p>
        <strong>
          You are already on a team
          <mark data-tooltip="Team name">{{ .TeamName }}</mark> as
          <mark data-tooltip="Username">{{ .Username }}</mark>.
        </strong>
        You can change teams by entering a new team code or creating a new team.
      </p>
    {{ else }}
      <p>
        If you are creating a team, you will be the team leader. You will be able to invite others
        to your team using the team code.
      </p>
    {{ end }}
    <p>
      To create a team, put in your wanted team name.
      <br />
      To join a team, put in the team code.
    </p>

    {{ if .Error }}
      <p class="error">{{ .Error }}</p>
    {{ end }}


    <form id="team-creation-form" action="/join" method="POST">
      <input
        maxlength="32"
        minlength="2"
        type="text"
        name="username"
        placeholder="Display Name"
        pattern="[a-zA-Z-_ ]{2,32}"
        title="Your name should be of length [2, 32] consisting of letters and spaces only!"
        value="{{ .FillingUsername }}"
        autocomplete="off"
        {{ if .TeamName }}
          disabled
        {{ end }}
      />

      <div class="team-grid">
        <div class="left">
          <input
            maxlength="32"
            minlength="2"
            type="text"
            name="team_name"
            placeholder="Team Name"
            pattern="[a-zA-Z-_ ]{2,32}"
            title="Team name must be of length [2, 32] consisting of letters and spaces only!"
            value="{{ .FillingTeamName }}"
            autocomplete="on"
            required
          />

          {{ if .TeamName }}
            <button type="submit" id="submit-team" class="seecondary">Rename</button>
          {{ else }}
            <button type="submit" id="submit-team">Create</button>
          {{ end }}
        </div>

        <div class="separator">
          <p>or</p>
        </div>

        <div class="right">
          <input
            maxlength="19"
            minlength="19"
            type="text"
            name="team_code"
            placeholder="Team Code"
            pattern="[a-z0-9]{4}-[a-z0-9]{4}-[a-z0-9]{4}-[a-z0-9]{4}"
            title="Team code must be in the format xxxx-xxxx-xxxx-xxxx!"
            value="{{ .FillingTeamCode }}"
            autocomplete="off"
            required
          />

          <button type="submit" id="submit-team" class="secondary">Join</button>
        </div>
      </div>
    </form>

    <footer>
      <div>
        <h2>FAQ</h2>
        <ul>
          <li>
            <strong>Can you be on a team alone?</strong><br />
            Yes.
          </li>
          <li>
            <strong>Can I change teams?</strong><br />
            Yes.
          </li>
          <li>
            <strong>How large can a team be?</strong><br />
            We recommend four, but you can do any size you like.
          </li>
        </ul>
      </div>
    </footer>
  </article>
</main>

{{ template "footer" . }}
