{{ template "head" }}
{{ template "title" "Leaderboard" }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uplot@1.6.28/dist/uPlot.min.css" />

{{ template "header" . }}


<main class="container" id="leaderboard">
  <article>
    <h1>Leaderboard</h1>

    <section>
      {{ $table := .Table }}
      <table>
        <thead>
          <tr>
            <th>team</th>
            {{ range $table.Reasons }}
              <th>{{ . }}</th>
            {{ end }}
          </tr>
        </thead>
        <tbody>
          {{ range $i, $team := $table.Teams }}
            {{ $members := index $table.TeamMembers $i }}
            <tr>
              <th>
                <span data-tooltip="Members: {{ $members | join ", " }}" data-placement="right"
                  >{{ $team }}</span
                >
                <small>({{ len $members }})</small>
              </th>
              {{ range $j, $_ := (index $table.Points $i) }}
                <td>
                  {{ . }}
                  {{ if eq (index $table.Reasons $j) "week of code" }}
                    <div class="week-of-code-scores">
                      {{ range $k, $p := (index $table.WeekOfCodeSolves $i) }}
                        {{ $day := add $k 1 }}
                        <span class="day" data-day="{{ $day }}">
                          <span class="part {{ if ge $p 1 }}solved{{ end }}">
                            Day {{ $day }} Part 1 solved.
                          </span>
                          <span class="part {{ if ge $p 2 }}solved{{ end }}">
                            Day {{ $day }} Part 2 solved.
                          </span>
                        </span>
                      {{ end }}
                    </div>
                  {{ end }}
                </td>
              {{ end }}
            </tr>
          {{ end }}
        </tbody>
      </table>
    </section>

    <section>
      <h2>History</h2>
      <div id="points-chart"></div>
      <script>
        window.teamPointsEvents = JSON.parse({{ toJson .Events }});
        window.teams = JSON.parse({{ toJson .Table.Teams }});
        window.startedAt = Date.parse("{{ rfc3339 .StartedAt}}");
      </script>
      <noscript>
        <p class="error">You need JavaScript to see the chart.</p>
      </noscript>
    </section>
  </article>
</main>

<script type="module">
  import * as charts from "https://cdn.jsdelivr.net/npm/lightweight-charts@4.1/dist/lightweight-charts.standalone.production.mjs";

  const styles = window.getComputedStyle(document.body);
  const mutedColor = styles.getPropertyValue("--muted-color");

  const teams = window.teams;
  const startedAt = Math.round(window.startedAt / 1000);
  const teamPointsEvents = window.teamPointsEvents.map((e) => ({
    ...e,
    added_at: Math.round(Date.parse(e.added_at) / 1000),
  }));
  console.log(teams, teamPointsEvents, startedAt);

  const colors = [
    "#1f77b4",
    "#ff7f0e",
    "#2ca02c",
    "#d62728",
    "#9467bd",
    "#8c564b",
    "#e377c2",
    "#7f7f7f",
    "#bcbd22",
    "#17becf",
  ];

  const chart = charts.createChart(document.getElementById("points-chart"), {
    autoSize: true,
    handleScale: true,
    handleScroll: true,
    grid: {
      vertLines: { visible: false },
      horzLines: { visible: true, color: mutedColor },
    },
    layout: {
      background: { type: "solid", color: "transparent" },
      textColor: styles.color,
      fontFamily: styles.fontFamily,
    },
    timeScale: {
      lockVisibleTimeRangeOnResize: true,
      borderVisible: false,
      timeVisible: true,
      secondsVisible: false,
      fixLeftEdge: true,
      fixRightEdge: true,
    },
  });

  const series = teams.map((team) => {
    const series = chart.addLineSeries({
      title: team,
      color: colors[teams.indexOf(team) % colors.length],
      lineWidth: 2,
      priceFormat: {
        type: "price",
        precision: 0,
        minMove: 1,
      },
      pointMarkersVisible: true,
    });
    let total = 0;
    series.setData([
      { time: startedAt, value: 0 },
      ...teamPointsEvents
        .filter((e) => e.team_name == team)
        .map((e) => {
          total += e.points;
          return { time: e.added_at, value: total };
        }),
    ]);
    return series;
  });

  chart.timeScale().fitContent();
</script>

<!-- -->

{{ template "footer" . }}
