{{ template "head" . }}
{{ template "title" "Week of Code Problems" }}

{{ template "header" . }}


<main class="container" id="problems">
  <article>
    <hgroup>
      <h2>Week of Code</h2>
      <p>
        {{ .Problems.StartedAt.Format "Monday, January" }}
        {{ .Problems.StartedAt.Day | ordinal }}
        until the
        {{ .Problems.EndingAt.Day | ordinal }}
      </p>
    </hgroup>

    <section>
      <p>A new coding problem every day!</p>
      <p>
        For each problem, you can earn up to <b>{{ .PointsPerPart }} points for each parts</b> you
        solve. You may get more points for solving problems <b>as soon as they are released</b>, so
        keep an eye out for the next problem!
      </p>
    </section>

    {{ if not (eq .Problems.TotalProblems 1) }}
      <ul class="problems">
        {{ $available := .Problems.AvailableProblems }}
        {{ range $i := until .Problems.TotalProblems }}
          {{ $id := add $i 1 }}
          {{ $problem := $.Problems.Problem $i }}
          {{ if $problem }}
            <li>
              <a role="button" href="./problems/{{ $id }}">
                Problem {{ $id }}:
                {{ $problem.Description.Title }}
              </a>
            </li>
          {{ else }}
            <li class="not-available">
              <a role="button" data-problem="{{ $id }}">
                Problem
                {{ $id }}
                {{- if eq $i $available -}}
                  {{ $nextRelease := $.Problems.NextReleaseTime }}
                  <time datetime="{{ $nextRelease | rfc3339 }}" class="countdown">
                    {{- $nextRelease | date "01/02/2006" -}}
                  </time>
                {{ end }}
              </a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    {{ else }}
      <p>We haven't released any problems yet. Check back later!</p>
    {{ end }}
  </article>
</main>

<script type="module">
  import * as countdown from "/static/countdown.js";

  document.querySelectorAll(".not-available").forEach((li) => {
    const time = li.querySelector("time");
    countdown.start(time, countdown.formatDurationClock, () => {
      li.classList.remove("not-available");
      const a = li.querySelector("a");
      a.href = "/problems/" + a.dataset.problem;
    });
  });
</script>

{{ template "footer" . }}
