{{ template "head" . }}

{{ template "header" . }}


<main class="container" id="problems">
  <article>
    <hgroup>
      <h2>Week of Code</h2>
      <p>A new coding problem every day</p>
    </hgroup>

    <p>
      Completing at least one part each day will result in a
      <mark>1337</mark> score bonus for your team!
    </p>

    {{ if not (eq .Problems.TotalProblems 0) }}
      <ul class="problems">
        {{ $available := .Problems.AvailableProblems }}
        {{ range $i := until .Problems.TotalProblems }}
          {{ $id := add $i 1 }}
          {{ $problem := $.Problems.Problem $i }}
          {{ if $problem }}
            <li>
              <a role="button" href="./problems/{{ $id }}">
                Problem {{ $id }}:
                {{ $problem.Description.Title }}
              </a>
            </li>
          {{ else }}
            <li class="not-available">
              <a role="button" data-problem="{{ $id }}">
                Problem
                {{ $id }}
                {{- if eq $i $available -}}
                  {{ $nextRelease := $.Problems.NextReleaseTime }}
                  <time datetime="{{ $nextRelease | rfc3339 }}" class="countdown">
                    {{- $nextRelease | date "01/02/2006" -}}
                  </time>
                {{ end }}
              </a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    {{ else }}
      <p>We haven't released any problems yet. Check back later!</p>
    {{ end }}
  </article>
</main>

<script type="module">
  import * as countdown from "/static/countdown.js";

  document.querySelectorAll(".not-available").forEach((li) => {
    const time = li.querySelector("time");
    countdown.start(time, countdown.formatDurationClock, () => {
      li.classList.remove("not-available");
      const a = li.querySelector("a");
      a.href = "/problems/" + a.dataset.problem;
    });
  });
</script>

{{ template "footer" . }}
