{{ template "head" . }}
{{ template "title" (printf "Day %d" .Day) }}

{{ template "header" . }}


<main class="container" id="problem">
  <article>
    <hgroup>
      <h1>Day {{ .Day }}</h1>
      <h2>{{ .Problem.Description.Title }}</h2>
    </hgroup>

    <section class="part part1">
      {{ md .Problem.Description.Part1 }}
    </section>

    {{ if .SolvedPart1 }}
      <section class="part part2">
        <h2>Part 2</h2>
        {{ md .Problem.Description.Part2 }}
      </section>
    {{ end }}


    <footer>
      {{ if .TeamName }}
        <section>
          <h2>Input</h2>
          {{ template "download-input" . }}
        </section>

        <section>
          <h2>Output</h2>
          {{ if or .SolvedPart1 .SolvedPart2 }}
            <p>
              {{ if and .SolvedPart1 (not .SolvedPart2) }}
                <strong class="primary">You've solved part 1!</strong>
              {{ else }}
                <strong class="primary">You've solved both parts!</strong>
              {{ end }}
              This nets you a total of
              <strong class="primary">
                {{ if and .SolvedPart1 (not .SolvedPart2) }}
                  {{ .PointsPerPart }}
                {{ else }}
                  {{ mul .PointsPerPart 2 }}
                {{ end }}
              </strong>
              points.
            </p>
          {{ end }}

          {{ if not (and .SolvedPart1 .SolvedPart2) }}
            {{ if .SolvedPart1 }}
              {{ template "answer-form" (dict "day" .Day "part" 2) }}
            {{ else }}
              {{ template "answer-form" (dict "day" .Day "part" 1) }}
            {{ end }}
          {{ end }}
        </section>
      {{ else }}
        <p>You must <a href="/join">join or create a team</a> to view the input!</p>
      {{ end }}
    </footer>
  </article>
</main>

{{ define "download-input" }}
  <div class="grid">
    <a role="button" class="outline" href="/problems/{{ .Day }}/input" target="_blank">
      View Input
    </a>
    <button class="outline secondary copy-input">Copy Input</button>
  </div>
{{ end }}

{{ define "answer-form" }}
  <form class="answer-form" action="/problems/{{ .day }}/submit" method="POST">
    <input type="hidden" name="part" value="{{ .part }}" />
    <input
      type="text"
      class="answer"
      name="answer"
      placeholder="Part {{ .part }} Answer"
      pattern="[0-9]*"
      autocomplete="off"
      required
    />
    <button type="submit">Submit</button>
  </form>
{{ end }}


<script>
  document.querySelectorAll(".copy-input").forEach((button) => {
    button.addEventListener("click", async () => {
      button.disabled = true;
      const label = button.textContent;
      button.textContent = "Downloading...";

      const inputResponse = await fetch(button.previousElementSibling.href);
      const input = await inputResponse.text();

      navigator.clipboard.writeText(input);

      button.textContent = "Copied!";
      setTimeout(() => {
        button.textContent = label;
        button.disabled = false;
      }, 2000);
    });
  });

  document.querySelectorAll(".part pre code").forEach((code) => {
    code.addEventListener("click", (ev) => {
      if (ev.detail === 3) {
        const range = document.createRange();
        range.selectNode(code);

        const selection = window.getSelection();
        selection.removeAllRanges();
        selection.addRange(range);
      }
    });
  });
</script>

{{ template "footer" . }}
